body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #fff;
  padding: 5px 30px;
  font-size: 0.8rem;
}

.listings-container {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-around;
}
.listing {
  max-width: 250px;
  background-color: #fff;
}
.listing-inner-container {
  padding: 8px;
}
.listing-header {
  font-size: 1rem;
}
.listing img {
  max-width: 100%;
}
